/* GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-jost), sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}

body {
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jost);
  font-weight: 400;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  color: var(--s-color-type-h);
}

h1.display {
  font-size: var(--s-size-type-h1-display);
  line-height: 1.2;
}

h1 {
  font-size: var(--s-size-type-h1);
  line-height: 1.15;
}

h2 {
  font-size: var(--s-size-type-h2);
  line-height: 1.3;
}

h3 {
  font-size: var(--s-size-type-h3);
  line-height: 1.4;
}

h4 {
  font-size: var(--s-size-type-h4);
  line-height: 1.5;
}

p {
  font-family: var(--font-jost);
  font-size: var(--s-size-type-p);
  font-weight: 300;
  font-synthesis: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--s-color-type-p);
}

a {
  font-family: var(--font-jost);
  font-size: var(--s-size-type-a);
  font-weight: 300;
  text-decoration: underline;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: var(--s-color-type-a);
}

a:hover {
  color: var(--s-color-type-a-hover);
  background-color: var(--color-white);
}

a.nws-button {
  font-family: var(--font-jost);
  font-size: var(--s-size-type-button);
  font-weight: 400;
  text-decoration: none;
}

p.logo-text {
  font-family: var(--font-jost);
  font-size: var(--s-size-type-p);
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* BUTTON STYLES */
.nws-button {
  display: inline-block;
  padding: var(--vpadding-50) var(--hpadding-200);
  transition: opacity 0.2s ease;
  border-radius: var(--border-radius-sm);
  width: min(auto);

  transition: background 0.2s ease;
}

.nws-button:focus {
  outline: 2px solid var(--color-focus);
  color: var(--color-focus);
}

.nws-button:hover {
  cursor: pointer;
}

.primary {
  border: var(--border-width) solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
}

.primary:hover {
  border: var(--border-width) solid var(--color-grey-200);
  background-color: var(--color-grey-200);
  color: black;
}

.secondary {
  border: none;
  background-color: none;
  color: var(--color-body);
}

.secondary:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
