/* GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-jost), sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}

body {
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jost);
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

h1.display {
  font-size: var(--text-900);
}

h1 {
  font-size: var(--text-600);
}

h2 {
  font-size: var(--text-500);
}

h3 {
  font-size: var(--text-400);
}

h4 {
  font-size: var(--text-300);
}

p {
  font-family: var(--font-jost);
  font-size: var(--text-200);
  font-weight: 300;
  font-synthesis: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-grey-200);
}

a {
  font-family: var(--font-jost);
  font-size: var(--text-200);
  font-weight: 300;
  text-decoration: underline;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: var(--color-grey-150);
}

a:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

a.nws-button {
  font-family: var(--font-jost);
  font-size: var(--text-100);
  text-decoration: none;
}

p.logo-text {
  font-family: var(--font-jost);
  font-size: var(--text-200);
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}
