/*
NOTE: Custom fonts via fontsource are defined in astro.config.mjs and imported in BaseLayout.astro.
*/

:root {
  /* base font size 10px (62.5% of 16px) */
  font-size: 62.5%;

  /* colors - neutrals */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-100: #eeeeee;
  --color-grey-150: #c4c4c4;
  --color-grey-200: #8d8d8d;
  --color-grey-300: #282828;
  --color-grey-400: #161616;

  /* colors - primary */
  --color-primary-100: #60a5fa;
  --color-primary-500: #2563eb;
  --color-primary-900: #123c99;

  /* colors - secondary */
  --color-secondary-100: #fa9160;
  --color-secondary-500: #bb6137;
  --color-secondary-900: #7a3a1d;

  /* typography */
  --text-100: clamp(1.2rem, 4vw, 1.4rem);
  --text-200: clamp(1.4rem, 4vw, 1.6rem);
  --text-300: clamp(1.6rem, 4vw, 1.8rem);
  --text-400: clamp(1.8rem, 4vw, 2rem);
  --text-500: clamp(3.2rem, 4vw, 3.4rem);
  --text-600: clamp(4.8rem, 4vw, 5rem);
  --text-700: clamp(5.6rem, 4vw, 5.8rem);
  --text-800: clamp(6.4rem, 4vw, 6.6rem);
  --text-900: clamp(8rem, 4vw, 8.2rem);

  /* vertical padding */
  --vpadding-100: clamp(1.6rem, 8vw, 2.4rem);
  --vpadding-200: clamp(2.4rem, 8vw, 3.2rem);
  --vpadding-300: clamp(3.2rem, 8vw, 4rem);
  --vpadding-400: clamp(4rem, 8vw, 4.8rem);
  --vpadding-500: clamp(4.8rem, 8vw, 5.6rem);
  --vpadding-600: clamp(5.6rem, 8vw, 6.4rem);
  --vpadding-700: clamp(6.4rem, 8vw, 7.2rem);
  --vpadding-800: clamp(7.2rem, 8vw, 8rem);
  --vpadding-900: clamp(8rem, 8vw, 8.8rem);

  /* here we need to account for things like section padding, which has larger ranges */
  --vpadding-default: clamp(4rem, 8vw, 6rem);

  /* horizontal padding */
  --hpadding-100: clamp(0.8rem, 8vw, 1.2rem);
  --hpadding-200: clamp(1.2rem, 8vw, 1.6rem);
  --hpadding-300: clamp(1.6rem, 8vw, 2rem);
  --hpadding-400: clamp(2rem, 8vw, 2.4rem);
  --hpadding-500: clamp(2.4rem, 8vw, 2.8rem);
  --hpadding-600: clamp(2.8rem, 8vw, 3.2rem);
  --hpadding-700: clamp(3.2rem, 8vw, 3.6rem);
  --hpadding-800: clamp(3.6rem, 8vw, 4rem);
  --hpadding-900: clamp(4rem, 8vw, 4.4rem);

  /* here we need to account for things like section padding, which has larger ranges */
  --hpadding-default: clamp(1.6rem, 8vw, 3.2rem);

  /* margin */
  /* --vmargin-100: 324;
  --vmargin-200: 23;
  --vmargin-300: 34;
  --vmargin-400: 34;

  --hmargin-100: 324;
  --hmargin-200: 23;
  --hmargin-300: 34;
  --hmargin-400: 34; */

  /* gap */
  --gap-100: clamp(0.2rem, 4vw, 0.6rem);
  --gap-200: clamp(0.6rem, 4vw, 1rem);
  --gap-300: clamp(1.4rem, 4vw, 1.8rem);
  --gap-400: clamp(2.2rem, 4vw, 2.6rem);
  --gap-500: clamp(3rem, 4vw, 3.4rem);
  --gap-600: clamp(3.8rem, 4vw, 4.2rem);

  /* layout */
  --max-width: 1600px;

  /* DELTE AFTER THIS */

  /* borders */
  /* --border-width: 1px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px; */

  /* padding */
  /* --padding-sm: 8rem;
  --padding-md: 1.6rem;
  --padding-lg: 2.4rem; */
}
