---
const { class: className, ...props } = Astro.props;
---

<main class=`page-container ${className}` {...props}>
  <slot />
</main>

<style>
  .page-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
    min-width: 0;
    overflow: clip;
  }
</style>
