---
const {...props} = Astro.props;
---

<main class="page-container" {...props}>
    <slot />
</main>

<style>
.page-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    margin-inline: auto;
    width: 100%;
    max-width: 1200px;
    min-width: 0;
}
</style>