---

const {class: className, ...props} = Astro.props;
---

<section class=`section-container ${className}` {...props}>
  <slot />
</section>

<style>
.section-container {
  padding: 64px var(--space-4);
  min-width: 0;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .section-container {
    padding: 32px var(--space-2);
  }
}

</style>