---
const { class: className, ...props } = Astro.props;
---

<section class=`section-container ${className}` {...props}>
  <slot />
</section>

<style>
  .section-container {
    padding: 64px var(--space-12x);
    min-width: 0;
    width: 100%;
    max-width: var(--max-width);
    scroll-margin-top: calc(
      (var(--header-padding) * 2) + var(--header-padding)
    );
  }

  @media (max-width: 768px) {
    .section-container {
      padding: 32px var(--space-4x);
    }
  }
</style>
