---
const {
  itemAlign = 'center',
  gap = 'md'
} = Astro.props

const {class: className = "grid", ...props} = Astro.props;
---

<section class="section-container" {...props}>
  <slot />
</section>

<style>
.section-container {
  margin: 0;
  align-self: stretch;
  padding: var(--space-2) var(--space-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  min-width: 0;
}

</style>