*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-noto-sans);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}

body {
  background: var(--color-surface);
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-block {
  display: flex;
  width: 100%;
}

.spacer {
  height: 150px;
  width: 100%;
}

/* Direction */

.direction-row {
  flex-direction: row;
}

.direction-row > * {
  flex: 1;
}

.direction-column {
  flex-direction: column;
}

/* Gap */

.gap-xs {
  gap: var(--gap-xs);
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

/* Alignment */

.horizontal-align-left {
  justify-content: flex-start;
}

.horizontal-align-center {
  justify-content: center;
}

.horizontal-align-right {
  justify-content: flex-end;
}

.vertical-align-top {
  align-items: flex-start;
}

.vertical-align-center {
  align-items: center;
}

.vertical-align-bottom {
  align-items: flex-end;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* Max Text Width */

.max-text-small {
  max-width: 40ch;
}

.max-text-normal {
  max-width: 65ch;
}

.max-text-wide {
  max-width: 90ch;
}

.max-text-full {
  max-width: 100%;
}

/* Max width for pixels */
.max-small {
  max-width: 200px;
}

.max-normal {
  max-width: 400px;
}

.max-wide {
  max-width: 600px;
}

.max-full {
  max-width: 100%;
}

/* Typography */

.bold {
  font-weight: 700;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-2xl {
  font-size: var(--text-2xl);
}

/* BUTTON STYLES */
.button {
  display: inline-block;
  padding: var(--space-4x);
  transition: opacity 0.2s ease;
  border-radius: var(--border-radius-sm);
  text-align: center;
  font-family: var(--font-noto-sans);
  font-size: var(--text-xs) !important;
  text-decoration: none;
  transition: background 0.2s ease;
}

.button:focus {
  outline: 2px solid blue;
  color: blue;
}

.primary {
  border: var(--border-width) solid var(--color-btn-surface-primary);
  background-color: var(--color-btn-surface-primary);
  color: var(--color-btn-text-primary);
}

.primary:hover {
  border: var(--border-width) solid var(--color-btn-surface-muted);
  background-color: var(--color-btn-surface-muted);
  color: black;
}

.secondary {
  border: var(--border-width) solid var(--color-btn-surface-secondary);
  background-color: none;
  color: var(--color-body);
}

.secondary:hover {
  background-color: var(--color-btn-surface-primary);
  color: var(--color-btn-text-primary);
}

@media (max-width: 768px) {
  .spacer {
    height: 80px;
  }
}
