/** 
This file contains only values related to color. See the how-to doc for reference.
**/

/** 
-------------------TYPOGRAPHY-------------------
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
}

p {
  color: var(--color-grey-200);
}

a {
  color: var(--color-grey-150);
}

a:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

/** 
-------------------SURFACES-------------------
**/
body {
  background: var(--color-black);
}

.bg {
  background: var(--color-black);
}

.bg-muted {
  background: var(--color-grey-400);
}
