/** 
-------------------FLEX DIRECTION-------------------
**/

.flex-row {
  flex-direction: row;
}

.flex-row > * {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

/** 
-------------------JUSTIFY-------------------
**/

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/** 
-------------------ALIGN-------------------
**/

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

/** 
-------------------TEXT ALIGN-------------------
**/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
