/*
NOTE: Custom fonts via fontsource are defined in astro.config.mjs and imported in BaseLayout.astro.
*/

:root {
  /* colors - surface */
  --color-surface: var(--color-black);
  --color-surface-muted: var(--color-grey-300);

  /* colors - borders & lines */
  --color-btn-border-primary: var(--color-white);
  --color-btn-border-secondary: var(--color-white);
  --color-divider: var(--color-grey-300);
  --color-border: var(--color-grey-300);

  /* colors - typography */
  --color-heading: var(--color-white);
  --color-body: var(--color-grey-150);
  --color-body-muted: var(--color-grey-200);
  --color-link: var(--color-grey-150);
  --color-link-nav: var(--color-grey-150);
  --color-btn-text-primary: var(--color-black);
  --color-btn-text-secondary: var(--color-white);

  /* colors - actions */
  --color-btn-surface-primary: var(--color-white);
  --color-btn-surface-secondary: none;
  --color-btn-surface-muted: var(--color-grey-200);

  /* borders */
  --border-width: 1px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  /* spacing */
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
}
