---
const { ...props } = Astro.props;
---

<footer class="footer" {...props}>
  <div class="inner">
    <p>
      &copy; {new Date().getFullYear()} Noel Web Studio. All rights reserved.
    </p>
  </div>
</footer>

<style>
  .footer {
    margin-top: var(--space-12x);
    padding: var(--footer-padding) 0;
    border-top: var(--border-width) solid var(--color-border);
    flex-shrink: 0;
  }

  .inner {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-4x);
  }
</style>
