---
const { ...props } = Astro.props;
---

<section class="hero" , {...props}>
  <div class="content-container">
    <h1 class="display">
      We create<br /><span style="font-weight: 700;">websites</span> for<br
      />small businesses.
    </h1>
  </div>
</section>

<style>
  .hero {
    padding: 0 0 64px 0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    bottom: 24px;
    left: 24px;
    z-index: 2;
    max-width: 1200px;
  }

  .image {
    align-items: start;
  }

  @media (max-width: 768px) {
    .hero {
      padding: 0;
    }

    .image {
      width: 100%;
      height: auto;
    }

    .content-container {
      bottom: 0px;
      left: 0px;
      width: 100%;
    }
  }
</style>
