---
import Container from "./Container.astro";
import type { SectionProps } from "../lib/schemas/components/section";

const { title } = Astro.props as SectionProps;
---

<section class="section">
  <Container>
    {title && <h2>{title}</h2>}

    <div class="content">
      <slot />
    </div>
  </Container>
</section>

<style>
.section {
  padding: var(--space-4) 0;
}

h2 {
  font-size: var(--text-xl);
  margin-bottom: var(--space-2);
}
</style>