---
import "@styles/global.css";
import "@tokens/primitives.css";
import "@tokens/semantics.css";
import "@styles/typography.css";

import Header from "@components/composits/Header.astro";
import Footer from "@components/composits/Footer.astro";
import Head from "@components/primitives/Head.astro";
import { SITE_TITLE } from "@consts";

const { title = SITE_TITLE } = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
