---
const { ...props } = Astro.props;
---

<div class="divider" {...props}></div>

<style>
  .divider {
    border-top: var(--border-width) solid var(--color-surface-muted);
    width: 100%;
  }
</style>
