---
import { SITE_TITLE } from "@consts";
import { Font } from "astro:assets";

const { title = { SITE_TITLE } } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <Font cssVariable="--font-bodoni-moda" />
  <Font cssVariable="--font-cabin" />
  <Font cssVariable="--font-noto-sans" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <title>{title}</title>
</head>
