---
// import type { HTMLAttributes } from "astro/types";

// interface Props extends HTMLAttributes<"div"> {
//   height: number;
// }

const { ...props } = Astro.props;
---

<div
  class="spacer"
  {...props}
  aria-label="Just an empty element for spacing purposes."
>
</div>
